# -------------------
# MySQL
# -------------------
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=
MYSQL_DB=bike_db

# -------------------
# JCDecaux Dublin Bikes
# -------------------
JCDECAUX_API_KEY=YOUR_JCDECAUX_KEY
JCDECAUX_CONTRACT=dublin

# -------------------
# OpenWeather
# -------------------
OPENWEATHER_API_KEY=YOUR_OPENWEATHER_KEY
OWM_LAT=53.3498
OWM_LON=-6.2603
OWM_UNITS=metric

# Weather forecast horizon (hours) - requirement says 72
WEATHER_FORECAST_HORIZON_HOURS=72

# -------------------
# Job intervals (optional)
# -------------------
REQUEST_TIMEOUT=15

# -------------------
# Flask API
# -------------------
API_PORT=5000
# FRONTEND_DIR=../frontend
